# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
.turbo/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# os
.DS_Store
Thumbs.db

# test
coverage/
playwright-report/
test-results/

# misc
*.local
.vercel
